<?xml version='1.0' encoding='utf-8'?>
<manifest>
  <include name="../platform/lanai.xml" />

  <project path="device/oneplus/nord4" name="android_device_oneplus_nord4" remote="blobs" revision="void" />
  <project path="device/oneplus/nord4-kernel" name="android_device_oneplus_nord4-kernel" remote="blobs" revision="void" />
</manifest>
